### 1. Proposition: Individuals who are both customers and employees
**Functional Specification:**
 - Select `PersonID` from `Sales.Customer` where `PersonID` is not null.
 - `INTERSECT` with the result of the second query.
 - Select `BusinessEntityID` from `HumanResources.Employee`.

In [ ]:
SELECT PersonID
FROM Sales.Customer
WHERE PersonID IS NOT NULL
INTERSECT
SELECT BusinessEntityID
FROM HumanResources.Employee;

### 2. Proposition: Products sold in both the United States and Canada
**Functional Specification:**
 - Join `Sales.SalesOrderHeader`, `Sales.SalesOrderDetail`, and `Sales.SalesTerritory`, filter for 'US', and select distinct `ProductID`.
 - `INTERSECT` with the result of the second query.
 - Join `Sales.SalesOrderHeader`, `Sales.SalesOrderDetail`, and `Sales.SalesTerritory`, filter for 'CA', and select distinct `ProductID`.

In [ ]:
SELECT DISTINCT sod.ProductID
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesOrderDetail sod ON sod.SalesOrderID = soh.SalesOrderID
JOIN Sales.SalesTerritory st     ON st.TerritoryID   = soh.TerritoryID
WHERE st.CountryRegionCode = 'US'
INTERSECT
SELECT DISTINCT sod.ProductID
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesOrderDetail sod ON sod.SalesOrderID = soh.SalesOrderID
JOIN Sales.SalesTerritory st     ON st.TerritoryID   = soh.TerritoryID
WHERE st.CountryRegionCode = 'CA';

### 3. Proposition: Salespersons who sold to customers in both the 'Northwest' and 'Southwest' territories
**Functional Specification:**
 - Join `Sales.SalesOrderHeader` with `Sales.SalesTerritory`, filter for 'Northwest', and select distinct `SalesPersonID`.
 - `INTERSECT` with the result of the second query.
 - Join `Sales.SalesOrderHeader` with `Sales.SalesTerritory`, filter for 'Southwest', and select distinct `SalesPersonID`.

In [ ]:
SELECT DISTINCT soh.SalesPersonID
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesTerritory st ON st.TerritoryID = soh.TerritoryID
WHERE st.[Name] = 'Northwest' AND soh.SalesPersonID IS NOT NULL
INTERSECT
SELECT DISTINCT soh.SalesPersonID
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesTerritory st ON st.TerritoryID = soh.TerritoryID
WHERE st.[Name] = 'Southwest' AND soh.SalesPersonID IS NOT NULL;

### 4. Proposition: Employees who have worked in both the 'Production' and 'Engineering' departments
**Functional Specification:**
 - Join `HumanResources.EmployeeDepartmentHistory` with `HumanResources.Department`, filter for 'Production', and select distinct `BusinessEntityID`.
 - `INTERSECT` with the result of the second query.
 - Join `HumanResources.EmployeeDepartmentHistory` with `HumanResources.Department`, filter for 'Engineering', and select distinct `BusinessEntityID`.

In [ ]:
SELECT DISTINCT edh.BusinessEntityID
FROM HumanResources.EmployeeDepartmentHistory edh
JOIN HumanResources.Department d ON d.DepartmentID = edh.DepartmentID
WHERE d.[Name] = 'Production'
INTERSECT
SELECT DISTINCT edh.BusinessEntityID
FROM HumanResources.EmployeeDepartmentHistory edh
JOIN HumanResources.Department d ON d.DepartmentID = edh.DepartmentID
WHERE d.[Name] = 'Engineering';

### 5. Proposition: Customers who bought a 'Mountain-200' bike and a 'Road-550' bike
**Functional Specification:**
 - Join `Sales.SalesOrderHeader`, `Sales.SalesOrderDetail`, and `Production.Product`, filter for names like 'Mountain-200', and select distinct `CustomerID`.
 - `INTERSECT` with the result of the second query.
 - Join `Sales.SalesOrderHeader`, `Sales.SalesOrderDetail`, and `Production.Product`, filter for names like 'Road-550', and select distinct `CustomerID`.

In [ ]:
SELECT DISTINCT soh.CustomerID
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesOrderDetail sod ON sod.SalesOrderID = soh.SalesOrderID
JOIN Production.Product      p  ON p.ProductID      = sod.ProductID
WHERE p.[Name] LIKE '%Mountain-200%'
INTERSECT
SELECT DISTINCT soh.CustomerID
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesOrderDetail sod ON sod.SalesOrderID = soh.SalesOrderID
JOIN Production.Product      p  ON p.ProductID      = sod.ProductID
WHERE p.[Name] LIKE '%Road-550%';

### 6. Proposition: Products supplied by both 'Superior Bicycles' and 'International Trekking'
**Functional Specification:**
 - Join `Purchasing.ProductVendor` with `Purchasing.Vendor`, filter for 'Superior Bicycles', and select distinct `ProductID`.
 - `INTERSECT` with the result of the second query.
 - Join `Purchasing.ProductVendor` with `Purchasing.Vendor`, filter for 'International Trekking', and select distinct `ProductID`.

In [ ]:
SELECT DISTINCT pv.ProductID
FROM Purchasing.ProductVendor pv
JOIN Purchasing.Vendor v ON v.BusinessEntityID = pv.BusinessEntityID
WHERE v.[Name] = 'Superior Bicycles'
INTERSECT
SELECT DISTINCT pv.ProductID
FROM Purchasing.ProductVendor pv
JOIN Purchasing.Vendor v ON v.BusinessEntityID = pv.BusinessEntityID
WHERE v.[Name] = 'International Trekking';

### 7. Proposition: Dates on which both online and in-store sales occurred
**Functional Specification:**
 - Select distinct `OrderDate` from `Sales.SalesOrderHeader` for online orders (`OnlineOrderFlag = 1`).
 - `INTERSECT` with the result of the second query.
 - Select distinct `OrderDate` from `Sales.SalesOrderHeader` for in-store orders (`OnlineOrderFlag = 0`).

In [ ]:
SELECT DISTINCT CAST(soh.OrderDate AS date) AS OrderDate
FROM Sales.SalesOrderHeader soh
WHERE soh.OnlineOrderFlag = 1
INTERSECT
SELECT DISTINCT CAST(soh.OrderDate AS date) AS OrderDate
FROM Sales.SalesOrderHeader soh
WHERE soh.OnlineOrderFlag = 0;

### 8. Proposition: Sales orders containing both a 'Touring' bike and a 'Mountain' bike
**Functional Specification:**
 - Join `Sales.SalesOrderDetail` with product and subcategory tables, filter for subcategory names like 'Touring', and select `SalesOrderID`.
 - `INTERSECT` with the result of the second query.
 - Join `Sales.SalesOrderDetail` with product and subcategory tables, filter for subcategory names like 'Mountain', and select `SalesOrderID`.

In [ ]:
SELECT sod.SalesOrderID
FROM Sales.SalesOrderDetail sod
JOIN Production.Product p ON p.ProductID = sod.ProductID
JOIN Production.ProductSubcategory psc ON psc.ProductSubcategoryID = p.ProductSubcategoryID
WHERE psc.[Name] LIKE '%Touring%'
INTERSECT
SELECT sod.SalesOrderID
FROM Sales.SalesOrderDetail sod
JOIN Production.Product p ON p.ProductID = sod.ProductID
JOIN Production.ProductSubcategory psc ON psc.ProductSubcategoryID = p.ProductSubcategoryID
WHERE psc.[Name] LIKE '%Mountain%';

### 9. Proposition: Email addresses that appear for both a Customer contact and a Vendor contact
**Functional Specification:**
 - Select `EmailAddress` for customers by joining `Person.EmailAddress` with `Sales.Customer`.
 - `INTERSECT` with the result of the second query.
 - Select `EmailAddress` for vendors by joining `Person.EmailAddress` through `Person.BusinessEntityContact` to `Purchasing.Vendor`.

In [ ]:
SELECT ea.EmailAddress
FROM Person.EmailAddress ea
JOIN Sales.Customer c
  ON c.PersonID IS NOT NULL
 AND ea.BusinessEntityID = c.PersonID
INTERSECT
-- Vendor contacts via BusinessEntityContact (organization <-> person)
SELECT ea.EmailAddress
FROM Person.EmailAddress ea
JOIN Person.BusinessEntityContact bec
  ON bec.PersonID = ea.BusinessEntityID
JOIN Purchasing.Vendor v
  ON v.BusinessEntityID = bec.BusinessEntityID;

### 10. Proposition: Cities that are home to both a customer and a vendor
**Functional Specification:**
 - Select distinct `City` for customers by joining `Person.Address` through `Person.BusinessEntityAddress` to `Sales.Customer`.
 - `INTERSECT` with the result of the second query.
 - Select distinct `City` for vendors by joining `Person.Address` through `Person.BusinessEntityAddress` to `Purchasing.Vendor`.

In [ ]:
SELECT DISTINCT a.City
FROM Person.Address a
JOIN Person.BusinessEntityAddress bea ON bea.AddressID = a.AddressID
JOIN Sales.Customer c
  ON (bea.BusinessEntityID = c.PersonID OR bea.BusinessEntityID = c.StoreID)
INTERSECT
SELECT DISTINCT a.City
FROM Person.Address a
JOIN Person.BusinessEntityAddress bea ON bea.AddressID = a.AddressID
JOIN Purchasing.Vendor v ON v.BusinessEntityID = bea.BusinessEntityID;